<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2><a href="/">Supermercados de la abuela</a></h2>
    <h1>Añada productos al carrito de la compra</h1>
    <table>
    <tr>
        <th>IdProducto</th>
        <th>Nombre Producto</th>
        <th>Categoría</th>
        <th>Medida</th>
        <th>Precio</th>
        <th>Stock</th>
        <th>Unidades</th>
        <th>Comprar</th>
    </tr>
    <tr th:each="prod : ${productos}">
        <td th:text="${prod.getIdproducto()}"></td>
        <td th:text="${prod.getNombre()}"></td>
        <td th:text="${prod.getCategoria().getCategoria()}"></td>
        <td th:text="${prod.getMedida()}"></td>
        <td th:text="${prod.getPrecio()}"></td>
        <td th:text="${prod.getStock()}"></td>
        <form action="/addCarrito" method="get">
            <td><input type="hidden" th:value="${prod.getIdproducto()}" name="id"></td>
            <td><input type="number" value="1" name="unidades" style="width: 80px"></td>
            <td><input type="submit" value="Añadir"></td>
        </form>
    </tr>
    </table>

</body>
</html>